.auth-block{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    flex-basis: 800px;
    height: 400px;
    background-color:#1eb8b8;
    box-shadow: 0 0 7px 4px rgb(197, 197, 197);
}