.auth-page-body{
    display: flex;
    justify-content: center;
    padding: 50px 0 50px;
    /* background-image: url(https://support.apple.com/library/content/dam/edam/applecare/images/en_US/keyboards/magic-mouse-trackpad-keyboard-accessories.jpg);
    background-size: 100% (100% - 50px); */
}